
body {
	-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#feed_title {
	    padding: 5px;
	    background-color: #eee;
	    margin: 0 -10px;
	    padding-left: 10px;
	    border-bottom: 2px solid #ddd;
	    color: #740F32;
}