<script>
  $(document).ready(function() {
    
     function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

    var url = 'http://startng.com/api/';

          
          $.getJSON(url+'company.php', function(data) {
                
                var companies = data.companies;
                localStorage.setItem('companies', JSON.stringify(companies));

                });

if (localStorage.getItem('companies') != '') {
            var fetch = JSON.parse( localStorage.getItem('companies') );

 $.each(fetch, function() {
                     $('#companies').append("<li class='table-view-cell media' style='padding-right: 10px !important;'><a class='navigate-right companyLoad' rel='"+this['name']+"' href='pages/company.html' id='"+this['id']+"' data-ignore='push'><img class='media-object pull-left' src='"+this['logo']+"' style='height: 60px; width: 60px; border-radius: 6px'><div class='media-body'>"+this['name']+"<p>"+this['email']+"</p><p>"+this['phone']+"</p></div></a></li>");
                     
                });
 
          }
          else{

            $.getJSON(url+'company.php', function(data) {
                //console.log(data);
                var companies = data.companies;
                localStorage.setItem('companies', JSON.stringify(companies));

                var fetch = JSON.parse( localStorage.getItem('companies') );

                $.each(fetch, function() {
                     $('#companies').append("<li class='table-view-cell media' style='padding-right: 10px !important;'><a class='navigate-right companyLoad' rel='"+this['name']+"' href='pages/company.html' id='"+this['id']+"' data-ignore='push'><img class='media-object pull-left' src='"+this['logo']+"' style='height: 60px; width: 60px; border-radius: 6px'><div class='media-body'>"+this['name']+"<p>"+this['email']+"</p><p>"+this['phone']+"</p></div></a></li>");
                     
                });
        });

          }

          $('.companyLoad').click(function() {
            spinIn();
  var id = $(this).attr('id');
  var page = $(this).attr('href');
  var title = $(this).attr('rel');

  $.getJSON(url+'company_selected.php', {'id': id}, function(data) {
                localStorage.setItem('companyLoad', JSON.stringify(data));
                $('#page_content').load(page,'',showNewContent);

    function showNewContent() {
      $('#page_content').fadeIn('fast',spinOut);
    }
  
    $('.title').text('Company Info');
    
        });

  return false;
});


  });
</script>
<style>
#companies .navigate-right:after, .push-right:after {
    right: 70px !important;
    content: '\e826';
}
</style>
<ul class="table-view" id="companies"></ul>