<script>
  $(document).ready(function() {
$('#page_content').css('display', 'block');

    var url = 'http://startng.com/api/';

var company = JSON.parse( localStorage.getItem('companyLoad') );


$('.image_company').attr('src', company.logo);
$('#company_name').text(company.name);
$('#company_email').text(company.email);
$('#company_website').text(company.website);
$('#company_description').text(company.description);

if (company.phone == '') {
	$('#company_phone').text('None');
}else{
	$('#company_phone').text(company.phone);
}

});
    
</script>
<ul class="table-view" style="margin-bottom: 0px;">
  <li class="table-view-cell media" style="border-bottom: 1px solid rgba(0,0,0, 0.1);">
    <a class="" style="padding: 5px 0;">
      <img class="media-object image_company" src="img/idea.jpg" style="max-height: 200px; width: 100%; display: block; border-radius: 10px; margin-bottom: 10px;">
      <div class="media-body">
        <span id="company_name"></span>
        <p>
        	<i class="fa fa-envelope" style="color: #740F32;"></i> <span id="company_email"></span><br>
          <i class="fa fa-phone" style="color: #740F32;"></i> <span id="company_phone"></span><br>
        	<i class="fa fa-globe" style="color: #740F32;"></i> <span id="company_website"></span><br>
        </p>
      </div>
    </a>
  </li>
</ul>

<div id="feed_title">Company Description</div>
<p id="company_description"></p>