<script>
$(document).ready(function() {

	function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}
spinIn();
var hubber = localStorage.getItem('hubber');
    var url = 'http://startng.com/api/';
    $.getJSON(url+'updates.php', function(data) {
                
                var updates = data.updates;
                localStorage.setItem('updates', JSON.stringify(updates));

                });

if (localStorage.getItem('updates') != '') {
            var updates = JSON.parse( localStorage.getItem('updates') );

 $.each(updates, function() {
                     $('#user_feeds').append("<li class='table-view-cell media'><a class=''><img class='media-object pull-left' src='"+this['image']+"' style='height: 42px; width: 42px; border-radius: 50%;'><div class='media-body'><p style='font-weight: bold;' id='feed_time'>"+this['time']+" "+this['date']+"</p><p id='feed_post'>"+this['post']+"</p></div></a></li>");
                     
                });
 spinOut();
 
          }
          else{

            $.getJSON(url+'updates.php', function(data) {
                //console.log(data);
                var updates = data.updates;
                localStorage.setItem('updates', JSON.stringify(updates));

                var updates = JSON.parse( localStorage.getItem('updates') );
                $.each(updates, function() {
                     $('#user_feeds').append("<li class='table-view-cell media'><a class=''><img class='media-object pull-left' src='"+this['image']+"' style='height: 42px; width: 42px; border-radius: 50%;'><div class='media-body'><p style='font-weight: bold;' id='feed_time'>"+this['time']+" "+this['date']+"</p><p id='feed_post'>"+this['post']+"</p></div></a></li>");
                     
                });
                spinOut();
        });

          }

          $('#updateForm').submit(function() {
              var update = $('#update_input').val();

              if (update == '') {

              }else{
                spinIn();
                data = {'update': update, 'user': hubber};

              $.ajax({
        'url': url+'update.php',
        'type': 'POST',
        'data': data
    }).done( function (data) {
        $('#user_feeds').prepend(data);
        $('#status').text(update);
        $('#update_input').val('');
        spinOut();
    });
              }

              
          });

          $('#updateBtn').click(function() {
              var update = $('#update_input').val();

              if (update == '') {

              }else{
                spinIn();
                data = {'update': update, 'user': hubber};

              $.ajax({
        'url': url+'update.php',
        'type': 'POST',
        'data': data
    }).done( function (data) {
        $('#user_feeds').prepend(data);
        $('#status').text(update);
        $('#update_input').val('');
        spinOut();
    });
              }

              
          });

});
</script>
<form id="updateForm" onSubmit="return false;" style="margin: 5px auto;">
<input type="text" id="update_input" class="pull-left" style="width: 86%;" placeholder="What's on your mind?" /><i class="fa fa-bullhorn pull-right btn btn-sm btn-negative" id="updateBtn" style=" width: 11%"></i>
    </form>

    <ul class="table-view" id="user_feeds"></ul>