<script>
  $(document).ready(function() {
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

    var url = 'http://startng.com/api/';

if (localStorage.getItem('members') != '') {
            var fetch = JSON.parse( localStorage.getItem('members') );

 $.each(fetch, function() {
                     $('#members').append("<li class='table-view-cell media'><a class='navigate-right userLoad' rel='"+this['username']+"' id='"+this['username']+"' href='pages/member.html' data-ignore='push'><img class='media-object pull-left' src='"+this['image']+"' style='height: 60px; width: 60px; border-radius: 6px'><div class='media-body'>"+this['f_name']+" "+this['l_name']+"<p>"+this['email']+"</p><p>"+this['phone']+"</p><p><i class='fa fa-bullhorn' style='color: rgb(116, 15, 50) !important;'></i> "+this['status']+"</p></div></a></li>");
                     
                });
 
          }
          else{

            $.getJSON(url+'members.php', function(data) {
                //console.log(data);
                var members = data.members;
                localStorage.setItem('members', JSON.stringify(members));

                var fetch = JSON.parse( localStorage.getItem('members') );

                $.each(fetch, function() {
                     $('#members').append("<li class='table-view-cell media'><a class='navigate-right userLoad' rel='"+this['username']+"' id='"+this['username']+"' href='pages/member.html' data-ignore='push'><img class='media-object pull-left' src='"+this['image']+"' style='height: 60px; width: 60px; border-radius: 6px'><div class='media-body'>"+this['f_name']+" "+this['l_name']+"<p>"+this['email']+"</p><p>"+this['phone']+"</p><p><i class='fa fa-bullhorn' style='color: rgb(116, 15, 50) !important;'></i> "+this['status']+"</p></div></a></li>");
                     
                });
        });

          }

          $.getJSON(url+'members.php', function(data) {
                
                var members = data.members;
                localStorage.setItem('members', JSON.stringify(members));

                });
          //localStorage.setItem('userLoad', '');

          $('.userLoad').click(function() {
            spinIn();
  var user = $(this).attr('id');
  var page = $(this).attr('href');
  var title = $(this).attr('rel');

  $.getJSON(url+'userProfile.php', {'user': user}, function(data) {
                localStorage.setItem('userLoad', JSON.stringify(data));
                $('#page_content').load(page,'',showNewContent);

    function showNewContent() {
      $('#page_content').fadeIn('fast',spinOut);
    }
  
    $('.title').text(title);
    
        });

      

  


  return false;

});
    

  });
</script>
<ul class="table-view" id="members"></ul>