<script>
  $(document).ready(function() {
$('#page_content').css('display', 'block');

    var url = 'http://startng.com/api/';

var user = JSON.parse( localStorage.getItem('userLoad') );


$('.image_user').attr('src', user.image);
$('#user_name').text(user.f_name+" "+user.l_name);
$('#user_email').text(user.email);
$('#susername, #feed_user').text(user.username);

if (user.phone == '') {
	$('#user_phone').text('None');
}else{
	$('#user_phone').text(user.phone);
}

$.getJSON(url+'user_update.php', {'user': user.username}, function(data) {
                //console.log(data);
                var updates = data.updates;

                $('#feed_spinner').css('display', 'none');

                $.each(updates, function() {
                     $('#user_feeds').append("<li class='table-view-cell media'><a class=''><img class='media-object pull-left' src='"+this['image']+"' style='height: 42px; width: 42px; border-radius: 50%;'><div class='media-body'><p style='font-weight: bold;' id='feed_time'>"+this['time']+" "+this['date']+"</p><p id='feed_post'>"+this['post']+"</p></div></a></li>");
                     
                });
        });

});
    
</script>
<ul class="table-view" style="margin-bottom: 0px;">
  <li class="table-view-cell media" style="border-bottom: 1px solid rgba(0,0,0, 0.1);">
    <a class="" style="padding: 5px 0;">
      <img class="media-object image_user" src="img/user.png" style="max-height: 200px; width: 100%; display: block; border-radius: 10px; margin-bottom: 10px;">
      <div class="media-body">
        <span id="user_name"></span>
        <p>
        	<i class="fa fa-user" style="color: #740F32; font-size: 16px; width: 14px;"></i> <span id="susername"></span><br>
        	<i class="fa fa-envelope" style="color: #740F32;"></i> <span id="user_email"></span><br>
        	<i class="fa fa-phone" style="color: #740F32;"></i> <span id="user_phone"></span><br>
        </p>
      </div>
    </a>
  </li>
</ul>

<div id="feed_title"><span id="feed_user"></span> feeds</div>

<ul class="table-view" id="user_feeds">
<center>
<a class="icon fa fa-spinner fa-pulse" id="feed_spinner" style="display: block; margin: 5px; color: rgb(116, 15, 50) !important;"></a>
</center>
  
  
</ul>