<script>
  $(document).ready(function() {
$('#page_content').css('display', 'block');

    var url = 'http://startng.com/api/';

var user = JSON.parse( localStorage.getItem('user') );
var hubber = localStorage.getItem('hubber');

$('.image_user').attr('src', user.image);
$('#user_name').text(user.f_name+" "+user.l_name);
$('#user_email').text(user.email);
$('#susername, #feed_user').text(user.username);

if (user.phone == '') {
	$('#user_phone').text('None');
}else{
	$('#user_phone').text(user.phone);
}

$.getJSON(url+'user_update.php', {'user': hubber}, function(data) {
                //console.log(data);
                var updates = data.updates;

                $('#feed_spinner').css('display', 'none');

                $.each(updates, function() {
                     $('#user_feeds').append("<li class='table-view-cell media'><a class=''><img class='media-object pull-left' src='"+this['image']+"' style='height: 42px; width: 42px; border-radius: 50%;'><div class='media-body'><p style='font-weight: bold;' id='feed_time'>"+this['time']+" "+this['date']+"</p><p id='feed_post'>"+this['post']+"</p></div></a></li>");
                     
                });
        });

});
    
</script>
<ul class="table-view" style="margin-bottom: 0px;">
  <li class="table-view-cell media" style="border-bottom: 1px solid rgba(0,0,0, 0.1);">
    <a class="" style="padding: 5px 0;">
      <img class="media-object image_user" src="img/user.png" style="max-height: 200px; width: 100%; display: block; border-radius: 10px; margin-bottom: 10px;">
      <div class="media-body">
        <span id="user_name"></span>
        <p>
        	<i class="fa fa-user" style="color: #740F32; font-size: 16px; width: 14px;"></i> <span id="susername"></span><br>
        	<i class="fa fa-envelope" style="color: #740F32;"></i> <span id="user_email"></span><br>
        	<i class="fa fa-phone" style="color: #740F32;"></i> <span id="user_phone"></span><br>
        </p>
      </div>
    </a>
  </li>
</ul>
<div id="feed_title" style="text-align: center;">Get your business started</div>
<ul class="table-view">
  <li class="table-view-cell media" style="padding-right: 5px;">
    <a class="">
    <img class="media-object pull-left" src="img/spirare.jpg" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
        <span style="font-weight: bold;">Business Registration</span><br>
        <span style="font-size: 16px;">Spirare</span>
        <p>Legal and Business Development</p>
        <p style="font-weight: bold;">info@spirare.com<br>08098339469</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="">
    <img class="media-object pull-left" src="img/onuk.jpg" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
        <span style="font-weight: bold;">Brand Development</span><br>
        <span style="font-size: 16px;">Onuk Inkteractive</span>
        <p>Print . Web . Graphics . Multimedia</p>
        <p style="font-weight: bold;">info@theroothub.com<br>08186420525, 08132592653</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="">
    <img class="media-object pull-left" src="img/codekago.png" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
        <span style="font-weight: bold;">Technology</span><br>
        <span style="font-size: 16px;">Codekago Interactive</span>
        <p>Web and Mobile App Development</p>
        <p style="font-weight: bold;">info@codekago.com<br>08032672596, 07037788243</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="">
    <img class="media-object pull-left" src="img/pear.jpg" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
        <span style="font-weight: bold;">Marketing Services</span><br>
        <span style="font-size: 16px;">Pear Ad</span>
        <p>Marketing systems</p>
        <p style="font-weight: bold;">info@elpeartours.com<br>07080227501, 07068641780</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="">
    <img class="media-object pull-left" src="img/roothub.png" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
        <span style="font-weight: bold;">Business Processing</span><br>
        <span style="font-size: 16px;">The Roothub</span>
        <p>Business Development and Processing</p>
        <p style="font-weight: bold;">info@theroothub.com<br>08186420525, 08132592653</p>
      </div>
    </a>
  </li>
</ul>

<!-- <div id="feed_title">My feeds</div> -->
<!-- 
<ul class="table-view" id="user_feeds">
<center>
<a class="icon fa fa-spinner fa-pulse" id="feed_spinner" style="display: block; margin: 5px; color: rgb(116, 15, 50) !important;"></a>
</center>
   -->
  
</ul>