<script>
  $(document).ready(function() {
    var user = JSON.parse( localStorage.getItem('user') );
                $('#first_name').val(user.f_name);
                $('#last_name').val(user.l_name);
                $('#settings_email').val(user.email);
                $('#settings_phone').val(user.phone);
                $('#image').attr('src', user.image);

                var url = 'http://startng.com/api/';
                
                function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

                $('#editBtn').click(function() {
                  $f_name = $('#first_name').val();
                  $l_name = $('#last_name').val();
                  $phone = $('#settings_phone').val();
                  $image = $('#image').attr('src');

                  if ($f_name == '' || $l_name == '' || $phone == '') {
                    alert('All fields are required');
                  }else{
                    spinIn();
                    if ($image == user.image) {
$('#settings_alert').load(url+'settings.php', {'status': 'account', 'type': 'no_image', 'phone': $phone, 'f_name': $f_name, 'l_name': $l_name, 'user': user.username});
                    }else{
                      
                                            $('#settings_alert').load(url+'settings.php', {'status': 'account', 'type': 'image', 'image': $image, 'phone': $phone, 'f_name': $f_name, 'l_name': $l_name, 'user': user.username});
                    }
                    spinOut();

                    var hubber = localStorage.getItem('hubber');
                    $.getJSON(url+'userProfile.php', {'user': hubber}, function(data) {
                
                localStorage.setItem('user', JSON.stringify(data));

                var fetch = JSON.parse( localStorage.getItem('user') );
                $('#name').text(fetch.f_name+" "+fetch.l_name);
                $('#username').text(fetch.username);
                $('#email').text(fetch.email);
                $('#user_image').attr('src', fetch.image);

                });


                }

                  });

$('#passwordBtn').click(function() {
  $pwd = $('#pwd').val();
  $rPwd = $('#repeatPwd').val();

  if ($pwd != $rPwd) {
    alert('Incorrect repeated password');
  }else{
    spinIn();
    $('#passwordAlert').load(url+'settings.php', {'status': 'pwd', 'pwd': $pwd, 'user': user.username});
    spinOut();
    $('#pwd, #repeatPwd').val('');
  }
});

$.getScript( "js/imageUpload.js" );

});
    
</script>

<form onsubmit="return false;">
<center>
<p align="center">You can modify the details of your account here</p>
</center>
<a href="#password" class="btn btn-negative btn-block" style="margin-top: 10px;" data-ignore="push">Change Password</a>
<p id="settings_alert"></p>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" placeholder="First Name" id="first_name" autofocus>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" id="last_name">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" placeholder="Phone Number" id="settings_phone">
  </div>
  
  <div class="form-group">
    <label>Profile Image</label>
<center>
    <label for="files" id="uploadBtn">
                        <output id="list"><span id="span">
                          <img class="" src="img/user.png" height="100" id="image" width="100" style="border-radius: 50%;">
                        </span></output>
                        </label>
                        <input type="file" accept="image/*" id="files" name="files[]" style="display: none" class="btn btn-primary" />

    </center>
  </div>
  <button class="btn btn-negative btn-block" style="margin-top: 10px;" id="editBtn">Edit Details</button>
  
</form>

<div id="password" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#password"></a>
    <h1 class="title">Change Password</h1>
  </header>

  <div class="content content-padded">
  <p id="passwordAlert"></p>
  <div class="from-group">
    <label>New Password</label>
    <input type="password" id="pwd" placeholder="New Password">
  </div>
  <div class="from-group">
    <label>Repeat Password</label>
    <input type="password" id="repeatPwd" placeholder="Repeat Password">
  </div>
                              <button type="submit" id="passwordBtn" class="btn btn-negative btn-block">Change Password</button>
    
  </div>
</div>